/* TODO App styles */

/*

our color palette

accent: #FB8C00

background-grey: #FAFAFA

light-grey: #E0E0E0

mid-grey: #9E9E9E

dark-grey: #212121

*/

body {
    color: #212121;
    background: #FAFAFA;

    /* https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/ */
    font-family: -apple-system, BlinkMacSystemFont, 
        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
        "Fira Sans", "Droid Sans", "Helvetica Neue", 
        sans-serif;
}

.logo {
    font-family: Courier, monospace;
    font-size: 1.25em;
    color: #212121;
    font-weight: 700;
    text-decoration: none;
    transition: color 0.5s ease;
    margin: 0;
    padding: 0;
    cursor: default;
    transition: all 0.2s ease-in-out;
}

.logo:hover {
    color: #FB8C00;
}

.button {
    border: 1px solid #9E9E9E;
    background: #E0E0E0;
    padding: 6px;
    border-radius: 3px
}

.button:hover {
    border-color: #212121;
    background: #9E9E9E;
}

.button:active {
    border-color: #212121;
    background: #212121;
    color: #fff;
}

.button:disabled {
    opacity: 0.4;
    pointer-events: none
}

.button--ghost {
    border: 0;
    background: transparent
}

.button--ghost:hover {
    background: #E0E0E0;
}

.button--primary {
    border-color: #FB8C00;
    background: #FB8C00;
}

.button--primary:hover {
    border-color: #212121;
    background: #FB8C00;
}


.button--danger:hover {
    border-color: darkred;
    background: #e74c3c;
    color: #fff;
}



.header {
    height: 62px;
}

.header .button--primary {
    margin-left: 6px;
}

.nav {
    font-size: 1.1em;
    color: #9E9E9E;
    text-align: right;
}

.nav__item {
    color: currentColor;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    cursor: default;
    margin-left:6px
}

.nav__item:hover {

    color: #212121;
}

.nav__item--selected {
    color: #212121;
    font-weight: 700
}

.actions {
    padding: 6px;
}

.todos {

}


.todos__item {
    border: 1px solid #E0E0E0;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1); 
    padding: 6px 6px 6px 0;
    margin-bottom: 8px;
    transition: all 0.2s linear
}

.todos__item:hover {
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2); 
}

.todos__item__mark {
    padding: 0 6px 0 2px;
}

.todos__item__input {
    display: none;
    max-width: 100%
}

.todos__item--completed{

}

.todos__item__mark {
    position: relative;
}

.todos__item__mark:hover {
    color: #FB8C00
}

.todos__item__mark__toggle {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
}

.todos__item--editing {
    border-color: #FB8C00;
    padding: 12px 6px 12px 0;
}

.todos__item--editing .todos__item__input{
    display: inherit
}

.todos__item--editing .todos__item__label {
    display: none
}

.todos__item__editactions {
    text-align: right;
    padding-top: 6px;
}

.todos__item__editactions .button {
    margin-left: 6px;
}



.empty-message {
    text-align: center;
    padding: 40px;
    color: #9E9E9E
}

.empty-message__icon {
    font-size: 4em;
}

.empty-message__hero {
    max-width: 40%;
    margin: 0 auto 12px;
    
}


.create-todo{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding: 0;
    margin: 0;

    top: 62px;
    transition: all 0.2s ease;
}

.input {
    padding: 6px;
}

.create-todo:before {
    content: '';
    display:block;
    box-shadow: 0 0 0px 9999px rgba(0, 0, 0, 0.5);
}

.create-todo__inner {
    padding: 40px;
    background: #FAFAFA;

}
.create-todo__label {
    display: block;
    margin: 24px 0 12px;
}

.create-todo__label:first-of-type {
    margin-top: 0
}

.create-todo__actions {
    margin-top: 24px;
}

.create-todo__input--content {
    width: 80%;
    font-size: 20px
}
