<!DOCTYPE html>
<html>

<head>
    <title>//TODO</title>
    <link rel="stylesheet" href="./node_modules/pintsize/dist/pintsize.css">
    <link rel="stylesheet" href="./node_modules/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>

    <div class="flex js-todoapp" role="app-container">
        
        <header class="header col col--12 flex flex--between flex--middle" v-cloak>

            <div>
                <a class="logo" href="#/active">//TODO</a>

                <button class="button button--primary" @click="createTodo()">Add a Todo</button>
            </div>

                
            <nav class="col col--6 nav">
                <a href="#/active" class="nav__item" :class="{'nav__item--selected': visibility == 'active'}">All</a>
                <a href="#/today" class="nav__item" :class="{'nav__item--selected': visibility == 'today'}">Today</a>
                <a href="#/tomorrow" class="nav__item" :class="{'nav__item--selected': visibility == 'tomorrow'}">Tomorrow</a>

                <a href="#/completed" class="nav__item" :class="{'nav__item--selected': visibility == 'completed'}">Completed</a>
            </nav>
        </header>

        <section class="create-todo col col--12" v-cloak v-show="isCreateTodo">

            <div class="create-todo__inner">
                
                <label for="" class="create-todo__label">What needs to be done?</label>
                <input autocomplete="off" class="input create-todo__input create-todo__input--content" required placeholder="e.g. Do the presentation" v-model="newTodo.content" @keyup.enter="addTodo">

                <label for="" class="create-todo__label">When?</label>
                <input class="input create-todo__input" type="date" v-model="newTodo.dueDate">

                <div class="create-todo__actions" >
                    <button class="button" @click="cancelCreateTodo">Cancel</button>
                    <button class="button button--primary" type="submit" @click="addTodo" v-bind:disabled="!newTodo.content">Add the todo</button>
                </div>

            </div>
        </section>
        
        <section class="main col col--12" v-cloak>
        
            <div class="actions flex flex--middle " :class="{'flex--end': visibility == 'completed', 'flex--between' : visibility != 'completed'}" v-cloak v-show="filteredTodos.length">

                <button class="button button--ghost" @click="removeCompleted" v-bind:disabled="filteredTodos.length == 0 || editedTodo"  v-show="visibility != 'completed'">

                    <i class="fa fa-circle"></i> Mark all done

                </button>

                <span class="todo-count" v-show="visibility != 'completed'">

                    <strong v-text="filteredTodos.length"></strong> item left

                </span>

                <button class="button button--ghost button--danger" @click="removeCompleted" v-show="visibility == 'completed'">

                    <i class="fa fa-trash-o"></i> Clear completed

                </button>

            </div>

            <div class="todos">

                <div class="todos__item flex flex--between flex--middle" @dblclick="editTodo(todo)" v-for="todo in filteredTodos" :class="{'todos__item--completed': todo.done, 'todos__item--editing': todo == editedTodo}">

                    <div class="col col--7">

                        <span class="todos__item__mark" v-bind:title="!todo.done ? 'Mark as done' : 'Mark as todo'">
                            <span class="fa" :class="{'fa-circle-o': !todo.done, 'fa-circle': todo.done}"></span>

                            <input class="todos__item__mark__toggle" type="checkbox" v-model="todo.done">
                        </span>


                        <span class="todos__item__content">
                            <label class="todos__item__label" >{{todo.content}}</label>
                            <input class="input todos__item__input" type="text" required v-model="todo.content" @keyup.enter="doneEdit(todo)" @keyup.esc="cancelEdit(todo)">
                        </span>

                    </div>

                    <div class="col col--4 todos__item__duedate">
                            <label class="todos__item__label">{{todo.dueDate}}</label>
                            <input class="input todos__item__input" type="date" v-model="todo.dueDate" @keyup.enter="doneEdit(todo)" @keyup.esc="cancelEdit(todo)">
                    </div>

                    <button class="button button--ghost button--danger fa fa-trash-o" @click="removeTodo(todo)"></button>

                    
                    <div class="col col--12 todos__item__editactions" v-show="todo == editedTodo">
                        <button class="button" @click="cancelEdit(todo)">Cancel</button>
                        <button class="button button--primary" @click="doneEdit(todo)">Save</button>
                    </div>


                </div>

                <div class="empty-message" v-show="filteredTodos.length == 0 && visibility != 'completed'">
                    
                    <div class="flex flex--between flex--middle empty-message__hero">
                        <i class="empty-message__icon fa fa-futbol-o"></i> or <button class="button button--primary" @click="createTodo()">Add a Todo</button>
                    </div>

                    Looks like you don't have nothing todo.
                    Maybe you can do some sport.

                </div>

            </div>

        </section>

        
        
    </div>

    <script src="./node_modules/vue/dist/vue.js"></script>
    <script src="./node_modules/director/build/director.js"></script>
    <script src="./src/app.js"></script>
    <script src="./src/router.js"></script>
    
    
</body>

</html>